@import "tailwindcss";

@theme {
  /* Colors */
  --color-bg-primary: #145016;
  --color-bg-secondary: #ECEFF3;
  --color-bg-white: #ffffff;
  --color-stroke-white: #E9EAEF;
  --color-text-main: #1E1E1E;
  --color-text-muted: #3C3C43;
  --color-text-title: #145016;
  --color-text-behide-title: #ECEFF3;
  --color-text-white: #ffffff;

  /* Fonts*/
  --font-portfolio: "Inika", serif;
  --font-signature: "Island Moments", cursive;
  --font-navbar: "Amita", cursive;
  


  /* bg-primary/50 use when to be 50% */
}

body {
  margin: 0;
  font-family: var(--font-portfolio);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
